html {
  scroll-behavior: smooth;
}

#root {
  font-family: Georgia, 'Times New Roman', Times, serif
}



.main-head{
  height: 150px;
  background: #FFF;
 
}

.sidenav {
  height: 100%;
  background-image: url("https://www.goto.com/-/media/blog/posts/products/istock-1301014432_retouched_1400-jpg.jpg");
  background-position-x: 75%;
  background-position-y: 60%;
  background-size: auto;
  background-color: #000;
  overflow-x: visible;
  padding-top: 20px;
}


.main {
  padding: 0px 10px;
}

/* @media screen and (max-height: 450px) { */
  .sidenav {padding-top: 15px;}
/* } */

/* @media screen and (max-width: 450px) { */
  .login-form{
    font-family: Georgia, 'Times New Roman', Times, serif;
      margin-top: 10%;
  }

/* } */

/* @media screen and (min-width: 768px){ */
  .main{
      margin-left: 40%; 
  }

  .sidenav{
      width: 40%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
  }

  .login-form{
    font-family: Georgia, 'Times New Roman', Times, serif;
      margin-top: 15%;
  }
/* } */


.login-main-text{
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 35%;
  margin-left: 45%;
  padding: 60px;
  color: #fff;
}

.login-main-text h2{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 300;
}

.btn-black{
  background-color: #7abaea !important;
  color: #fff;
}

/* button {
  color: rgb(127, 178, 195);
  background-color: #355a74;
  box-shadow: 5px 3px 5px lightblue;
}

button:hover, button:active {
  font-size: 125%;
  box-shadow: 5px 3px 5px lightblue;
} */